.container {
  position: relative;
  width: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #367268;
  .errorMsg {
    color: #cff8f1;
    display: flex;
    justify-content: flex-start;
  }
}
.boxButton {
  display: flex;
  justify-content: center;
  .button {
    height: 135px;
    width: 200px;
    position: absolute;
    margin: auto;
    z-index: -1;
    .btn {
      z-index: 1;
      width: 100px;
      height: 50px;
      border: none;
      color: inherit;
      background: none;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      outline: none;
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      .animation {
        -webkit-transform: translate(100px, -100px);
        -moz-transform: translate(100px, -100px);
        -o-transform: translate(10px, -100px);
        -ms-transform: translate(100px, -100px);
        transform: translate(50px, -50px);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
      img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -9;
      }
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    .btn-boarder {
      border-radius: 10px;
    }
    .bg {
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      .animation2 {
        -webkit-animation: fadeIn 0.4s ease-out;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0.4s;
        -moz-animation: fadeIn 0.4s ease-out;
        -moz-animation-iteration-count: 1;
        -moz-animation-fill-mode: forwards;
        -moz-animation-delay: 0.4s;
        animation: fadeIn 0.4s ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
      }
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
    .around {
      width: 100px;
      height: 40px;
      border: none;
      color: inherit;
      background: none;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      outline: none;
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
      }
    }
    .around-boarder {
      border: 50px solid #50c2af;
      border-radius: 10px;
    }
  }
}
